<html>
    <head>
    </head>
    <body>
        <h1>Enrico's Getting Things Done</h1>

        <a href="/cal">calendar</a>
        <a href="/stats">stats</a>

        <h2>Tags</h2>
        <ul>
        {% for t in egt.all_tags %}
        <li><a href="/weekrpt/{{t}}">{{t}}</a></li>
        {% endfor %}
        </ul>

        <h2>Projects</h2>
        <ul>
        {% for p in egt.projects.values() %}
        <li><a href="/TODO{{p.name}}">{{p.name}}</a></li>
        {% endfor %}
        </ul>

    </body>
</html>

