Source: egt
Section: misc
Priority: optional
Maintainer: Enrico Zini <enrico@debian.org>
Build-Depends-Indep: python3-setuptools, python3-all, debhelper (>= 9), dh-python, help2man, python3, bash-completion (>= 1:1.0-1~)
Standards-Version: 3.9.1.0
#Vcs-Git: git://git.debian.org/git/collab-maint/apt-xapian-index.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/apt-xapian-index.git
#Homepage: http://www.enricozini.org/sw/apt-xapian-index/

Package: python3-egtlib
Section: python
Architecture: all
Depends: python3, python3-dateutil, ${python3:Depends}, ${misc:Depends}
Description: Enrico's Getting Things Done backend code
 .

Package: egt
Architecture: all
Depends: python3, python3-egtlib, python3-flask, ${python3:Depends}, ${misc:Depends}
#Recommends: python3-vobject
#Suggests: python-babel, gettext
Description: Enrico's Getting Things Done command line tool
 .
