#!/usr/bin/make -f

VERSION=$(shell debian/vercheck)
RELEASE_PACKAGE=egt

%:
	dh $@ --with python3 --buildsystem=pybuild

#override_dh_auto_build:
#	dh_auto_build
#	./egt --generate-manpage=egt.1.in > egt.1
#	./egt-cv --generate-manpage=egt-cv.1.in > egt-cv.1

#override_dh_auto_clean:
#	dh_auto_clean
#	find . -name "*.pyc" -delete
#	rm -f egt.1

override_dh_auto_install:
	dh_auto_install
	# Install bash completion
	dh_bash-completion

vercheck:
	debian/vercheck > /dev/null

debsrc: vercheck
	git-buildpackage -S -us -uc
	rm -f ../$(RELEASE_PACKAGE)_$(VERSION)_source.changes
