<html>
    <head>
    </head>
    <body>
        <h1>Weekly report</h1>

        <p>Activity from {{rep.begin}} to {{rep.until}}.</p>

        <p>{{rep.count}} entries, {{rep.hours}} hours in total,
        {{rep.hours_per_day}} hours per day, {{rep.hours_per_workday}} hours
        per working day</p>

        <table>
        <tr>
            <th>Info</th>
            <th>Entry</th>
        </tr>
        {% for l, p in rep.log %}
        <tr>
            <td style="vertical-align: top">
                <ul>
                    <li>{{l.begin.date()}}</li>
                    <li>{{l.begin.time()}} - {{l.formatted_duration}}</li>
                    <li>{{p.name}}</li>
                </ul>
            </td>
            <td>
                <pre>
                {{l.body}}
                </pre>
            </td>
        {% endfor %}
        </table>
    </body>
</html>
